body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: rosybrown;
    color: white;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 230px;
    background-color: #8b5f65;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    margin-left: 250px;
    padding: 40px;
}

h1 {
    color: white;
}


.contact-list a:hover {
    text-decoration: underline;
}
